

@font-face {
  font-family: GothamXlight;

  src: url("../font/gotham-xlight-regular.otf") format("opentype");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: GothamXlight, Helvetica, sans-serif;
}

body.nl .en {
  display: none
}

body.en .nl {
  display: none
}

.section{
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.logo {
  background-image: url('../img/svg/logo.svg');
  width: 300px;
  height: 80px;
  margin-top: 200px;
  background-repeat: no-repeat;

}

#section0 {
  background-image: url('../img/bg/bg-01.png');
  padding-left: 80px;
}

#section0 .bottomBar {
  width: 100%;
  height: 70px;
  //background: rgba(121, 227, 253, 0.7);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#section0 .bottomBar .btn {
  position: absolute;
  margin: 0 auto;
  margin-top: -20px;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: rgba(121, 227, 253, 1);
  border-radius: 50%;
  background-image: url('../img/svg/arrow-down.svg');
}

.container {
  /*width: 1440px;*/
  margin: 0 auto;
  overflow: auto;
}

#navigation li.active a {
  text-decoration: underline;
}

.section {
  padding: 100px;
}


#section1 {
  background-image: url('../img/bg/bg-02.png');
  /*background-size: auto 100%;*/
  vertical-align: top;
    position:relative;
}
#section1 .container {
    position:relative;
}
#section1 .fp-tableCell {
  vertical-align: top;
}

#section1 p {
  width: 285px;
  margin-left: 20px;
}

#section1 h3 {
  margin-left: 20px;
}


#section2 {
  background-image: url('../img/bg/bg-03.png');

}

#section2 .fp-tableCell {
  vertical-align: top;
}

#section2 .box5 h2 {
  background-image: url('../img/svg/smily.svg');
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 35px auto;
  padding-right: 50px;
}

#section3 {
  background-image: url('../img/bg/bg-04.png');
}

#section3 .fp-tableCell {
  vertical-align: top;
}


#section4 {
  background-image: url('../img/bg/bg-05.png');
}

#section4 h2{
  background-color: #5ce3fd;
  color: #1d4c62;
  position: relative;
  top: 8px;

}

#section4 h2.inverse {
  background-color: #009bbb;
  color: #1d5069;
}

#section4 .box {
  height: 300px;
}

#section4 .box img {
  display: block;
  width: 100%;
}

#section5 {
  background-color: white;
}

#section10 {
  background-image: url('../img/bg/bg-06.png');
}

#section4 .fp-tableCell {
  vertical-align: top;
}

#section4 h3, #section4 p{
  color: #5be1fb;
}
#section10 .intro p {
	font-size:24px;
	color:#fff !important;
	width: 150px;
	padding-top:85px;
	padding-left: 65px;
}
h3, p {
  color: #184d60;
}

h2 {
  background-color: #4ae5fd;
  color: #184d60;
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
}

h2.inverse {
  background-color: #ffffff;
}

h1 {
  color: #274c61;
  background-color: #c0cad8;
  display: inline-block;
  line-height: 1.4;
  padding: 5px 15px;
  font-size: 50px;
  margin:0 0 2px 0;
}

#section0 h1 {
  	margin-top:20px;
    margin-bottom: 240px;
}

.fp-controlArrow.fp-next {
  background-image: url('../img/svg/arrow-right.svg');
  border: none;
  width: 50px;
  height: 50px;
}

.fp-controlArrow.fp-prev {
  background-image: url('../img/svg/arrow-left.svg');
  border: none;
  width: 50px;
  height: 50px;
}

.flexContainer {
  height: 100%;
}

.projectBar {
  height: 120px;
  width: 100%;
  padding-top: 25px;
  background-color: #6beafd;
}

.projectSlider {
  height: 75%;
}

.projectSlider .slide {
  text-align: center;
}

#navigation {
  font-size: 18px;
  position: absolute;
  top: 20px;
  z-index: 100;
  width: 660px;
  right: 0;
  background-color: rgba(119, 224,221, 0.7);
  padding: 30px;
  text-align: right;
  transition: width 600ms linear, background 600ms linear;
}
#navigation ul {
  display: inline-block;
}

#navigation li {
  list-style: none;
  float: right;
  margin-right: 20px;
}
#navigation li:first-of-type {
  margin-right: 0;
}

#navigation li a {
    color: #274c61;
    font-weight: bold;
    text-decoration: none;
}


.nav-scrolled {
  transition: width 600ms linear, background 600ms linear;
  background-color: rgba(119, 224,221, 0.7) !important;
  width: 100% !important;
  margin: 0;
  position: fixed !important;
  top: 0 !important;
}


/* pop effect */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* media queries */
@media (max-width: 768px) {
  .container {
    text-align: center;
  }
    #section1 .box1, #section1 .box2, #section1 .box3 {
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }

    #section1 .box1 p, #section1 .box2 p, #section1 .box3 p  {
      padding-top: 10px;
      display: block;
      margin: 0 auto;
    }

    #section2 .box6 {
      margin-top: 30px;
    }

    #section2 .box8 {
      margin-top: 30px;

    }

    .member1 img {
    	position:relative !important;
    	top: 0 !important;
    	right:0;
    }

    .member1, .member2, .member3 {
      margin: 30px auto;
    }

   .description, .name {
        background-color: white;
        padding: 5px 10px !important;
    }


}


@media (min-width: 769px) {
  .container {
    width: 700px;

  }

  #section1 .box2 {
    padding-top: 0;
  }

  #section1 .box3 {
    padding-left: 100px;
  }

  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 19px;
  }

  h3 {
    font-size: 20px;
  }


  #section2 p {
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5;
  }

  #section1 .box2 {
    padding-top: 160px;
  }

  #section2 h3 {
    font-size: 28px;
  }

  #section1 .box1 {
    float: left;
	position: relative;
  }

  #section1 .box2 {
    float: right;

  }

  #section1 .box3 {
    clear: both;
    float: left;
  }

  #section1 .box4 {
    float: right;
  }

  #section1 .box3 h2:first-of-type {
    padding-right: 30px;
  }
  #section1 .box3 h2 {
    padding-right: 52px;
  }

  #section1 .box2 h2:first-of-type {
    padding-right: 120px;
  }

  #section2 .box4 {
    padding-left: 50px;
  }

  #section2 .box5 {
    text-align: right;
  }

  #section2 .box7 {
    margin-left: 188px;
  }

  #section2 .box7 {
    margin-left: 157px;
  }

  #section2 .box8 {
    margin-left: 60px;
    margin-top: 60px;
  }
  #section3 .container > div {
    background-repeat: no-repeat;
  }

  #section3 .container {

  }

  #section3 .member1 {
    background-image: url('../img/svg/linii-team-01.svg');
    width: 400px;
    height: 290px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;

  }

  #section3 .member2 {
    background-image: url('../img/svg/linii-team-02.svg');
    width: 450px;
    height: 280px;
    float: right;
    margin-bottom: 30px;
  }

  #section3 .member3 {
    background-image: url('../img/svg/linii-team-03.svg');
    width: 400px;
    height: 250px;
    float: right;
    margin-right: 30px;

  }
  #section3 .member4 {
	  background: url('../img/svg/linii-team-04.svg') 20px 0 no-repeat;
	 width: 510px;
	 height: 270px;
	 float: right;
	 margin-right: 45px;

  }

  #section4 .box11 {
    float: left;
    margin-left: 40px;
  }

  #section4 .box10 {
    margin-left: 180px;
  }

  #section4 .box12 {
    margin-bottom: 80px;
    /*float: left;*/
    margin-left: 40px;
  }

  #section4 .box13 {
    float: right;
  }

  #section4 .box14 {
    float: right;
    margin-top: 45px;
  }



}

@media (min-width: 992px) {

  .container {
    width: 820px;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }

  #section2 .box7 {
    margin-left: 162px;
  }

  .logo {
    margin-top: 230px;
    width: 300px;
    height: 80px;
  }

}

@media (min-width: 1200px) {
  .container {
    width: 992px;
  }

  .container {
    width: 992px;
  }


  h2 {
    font-size: 24px;
  }
  #section2 .box7 {
    margin-left: 188px;
  }

}

@media (min-width: 1440px) {
  .container {
    width: 1180px;
  }

  .logo {
    width: 480px;
    height: 130px;
  }

  h1 {
    font-size: 50px;
  }


}



.linii {
	position:absolute;
}

.about {
    margin-bottom:50px;
}
.about p, .about h3 {
	color:#fff !important;
}
.intro {
	background-image:url('../img/svg/linii-contact.svg');
	background-repeat: no-repeat;
	height:440px;
	width:300px;
	margin:0 auto;
}
.navbar-default {
  background-color: #93e3d6;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: #254c62;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #254c62;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #254c62;
  border-color: #254c62;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #254c62;
}
.navbar-default .nav li a {
  font-weight: 400;
  letter-spacing: 1px;
  color: #254c62;
  font-size: 16px;
  font-weight: bold;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: white;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;

  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 15px;;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: rgba(119, 224,221, 0.7);
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}


#navbarframe {
  margin-top: 0;
  height: 90px;
  width: 100%;
  right: 0;
  position: fixed;
  background-color: rgba(147, 227, 214, 0.8);
  transition: width 1s, margin-top 1s;
  z-index: 2;
}

#navbarframe.visible {
  margin-top: 40px;
  width: 70%;
  right: 0;
  position: fixed;
  background-color: rgba(147, 227, 214, 0.8);
  transition: width 1s, margin-top 1s;
}

@media (max-width: 767px) {
  #navbarframe{
    display: none;
  }
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-brand .logo {
  opacity: 0;
  margin: 0;
  width: 110px;
  height: 30px;
  transition: opacity 1.5s, margin-left 1s;
  margin-left: 100%;
}

.navbar-brand .logo.visible {
  opacity: 1;
  margin-left: 0;
  transition: opacity 1.5s, margin-left 1s;
}

.navbar .container {
  width: 100%;
  padding: 35px 5%;
  transition: all 0.5s;

}

.navbar.sticky .container {
  width: 100%;
  padding: 0px 5%;
  transition: all 0.8s;

}

.navbar {
  transition: all 0.8s;
}


.navbar.sticky {
  padding-top: 20px;
  padding-bottom: 10px;
  transition: all 1s;
}



#expertise1{
	background:url('../img/expertise/expertise-01.png') 15px 8px no-repeat;
}
#expertise2{
	background:url('../img/expertise/expertise-02.png') 15px 8px no-repeat;
}
#expertise3{
	background:url('../img/expertise/expertise-03.png') 15px 8px no-repeat;
}
#expertise4{
	background:url('../img/expertise/expertise-04.png') 15px 8px no-repeat;
}
#expertise5{
	background:url('../img/expertise/expertise-05.png') 15px 8px no-repeat;
}
#expertise6{
	background:url('../img/expertise/expertise-06.png') 15px 8px no-repeat;
}
#expertise7{
	background:url('../img/expertise/expertise-07.png') 15px 8px no-repeat;
}
#expertise8{
	background:url('../img/expertise/expertise-08.png') 15px 8px no-repeat;
}
#expertise9{
	background:url('../img/expertise/expertise-09.png') 15px 8px no-repeat;
}




@media (max-width: 768px) {

	#expertise1, #expertise2, #expertise3, #expertise4, #expertise5, #expertise6, #expertise7, #expertise8, #expertise9 {
		background-position:center 15px;
	}

  .section {
    padding-left: 10px;
    padding-right: 10px;
  }

  #section0 {
    padding-left: 10px;
  }

  .navbar .container {
    width: 100%;
    padding: 10px 5%;
    transition: all 0.5s;
  }

  .navbar-brand .logo {
    opacity: 1;
    margin: 0;
    width: 110px;
    height: 30px;
    transition: opacity 1.5s, margin-left 1s;
  }


  .navbar.sticky {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 1s;
  }
}

.member1, .member2, .member4 {
	position:relative;
}
.member1 p, .member2 p, .member4 p {
	margin:0;
	padding:0;
	position: absolute;
}
.member1 img {
	position:absolute;
	top:150px;
	right:0;
}
.member1 .name {
	top:20px;
	left:20px;
}
.member1 .description {
	top:50px;
	left:15px;
}
.member2 .name {
	top:0;
	right:20px;
}
.member2 .description {
	top:30px;
	right:56px;
}
.name {
	font-size:24px;
}
.description {

}
.member4 .name {
	right: 10px;
	top: 75px;
}

.member4 .description {
	right: 20px;
	top: 105px;
}
.legal {
	float:right;
	margin:10px 20px 30px 0;
}

#bgSvg {
	background:url('../img/svg/linii-04.svg') top left no-repeat;
	width:975px;
	height:624px;
	position:absolute;
	right: 0;
  background-position: 100px top;
  top: 57%;
}

#section5 >.container {
  width: 100%;
}

#section5 {
  padding: 0;
}

#section10 {
  padding: 50px 0;
}


.carousel-control.right span, .carousel-control.left span {
  display: none;
}

.carousel-control.right {
  background-image: url('../img/svg/arrow-right.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}


.carousel-control.left {
  background-image: url('../img/svg/arrow-left.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

#map {
    width: 100%;
    height: 500px;
}





.language {
	display:block;
	float:right;
	padding-top:15px;
	font-size:16px;
	font-weight:700;
	color:#254c62;
	margin-left:30px;
}

.language a {
	text-decoration:none;
}
#section10 .intro p.contactDetails {
	padding: 0;
	width: 200px;
	font-size: 18px;
	position: absolute;
	left: 250px;
	top:56px;
	color:#333 !important;
}

#section10 .intro {
	position:relative;
}
